@charset "iso-8859-1";
 
.txt
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

a.whitetext
{
    COLOR: #ffffff;
}

a.blacktext
{
    COLOR: #000000;
}

#invispixDiv
{
    LEFT: 0px;
    WIDTH: 780px;
    POSITION: absolute;
    TOP: 43px;
    HEIGHT: 45px
}

#invispix2Div
{
    LEFT: 225px;
    WIDTH: 555px;
    POSITION: absolute;
    TOP: 75px;
    HEIGHT: 45px
}

#topnavDiv
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px
}

#bodyDiv
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 71px
}

#navmenuDiv
{
    LEFT: 218px;
    POSITION: absolute;
    TOP: 0px
}

#maincontentDiv
{
    LEFT: 265px;
    POSITION: absolute;
    TOP: 75px
}

#sub1MenuDiv
{
    LEFT: 205px;
    VISIBILITY: hidden;
    WIDTH: 116px;
    POSITION: absolute;
    TOP: 32px;
    HEIGHT: 80px
}

#sub2MenuDiv
{
    LEFT: 375px;
    VISIBILITY: hidden;
    WIDTH: 110px;
    POSITION: absolute;
    TOP: 32px;
    HEIGHT: 80px
}

#sub3MenuDiv
{
    LEFT: 485px;
    VISIBILITY: hidden;
    WIDTH: 110px;
    POSITION: absolute;
    TOP: 32px;
    HEIGHT: 80px
}

#sub4MenuDiv
{
    LEFT: 590px;
    VISIBILITY: hidden;
    WIDTH: 110px;
    POSITION: absolute;
    TOP: 32px;
    HEIGHT: 80px
}

#sub5MenuDiv
{
    LEFT: 670px;
    VISIBILITY: hidden;
    WIDTH: 110px;
    POSITION: absolute;
    TOP: 32px;
    HEIGHT: 80px
}

.bluetxt
{
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: arial,helvetica,sans-serif
}

.bluetxt2
{
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: arial,helvetica,sans-serif
}

.bodyboldtxt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}

.bodytxt
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}

.bordertyellow
{
	BORDER: solid  1px;
	BORDER-COLOR: #ffcc00 #ffcc00 #ffcc00 #ffcc00;
	
}
.bordertred
{
	BORDER: solid  1px;
	BORDER-COLOR: #cc0000 #cc0000 #cc0000 #cc0000;
	
}
.pagedirtxtylw
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffcc00;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-DECORATION: underline
}
.pagedirtxtwht
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.footertxt
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.navtxt
{
    BACKGROUND-COLOR: #ffcc00
}
.tabs
{
    LEFT: 0px;
    VISIBILITY: hidden;
    CLIP: rect(auto 194px auto auto);
    POSITION: absolute;
    TOP: 420px
}
.tabtxtnormal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.tabtxtdark
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000
}
.tabtxtlight
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.redtxt
{
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    COLOR: #cc0000
}
.small
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.smallDetails
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.subbarcreme
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ceceb7;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.subbaryellow
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #ffcc00;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.submenutxt
{
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffe88a
}
.lgbtn
{
    FONT-SIZE: 7pt;
    WIDTH: 125px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.mdbtn
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    WIDTH: 120px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.smbtn
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    WIDTH: 110px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.yellowbutton
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #f3e6ad
}
.miscbutton
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.miscbutton2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    WIDTH: 85px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.miscradio
{
    BACKGROUND-COLOR: #ceceb7
}
A:link
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #cc0000;
    TEXT-DECORATION: underline
}
.footertxt A:link
{
    COLOR: #ffcc00;
    TEXT-DECORATION: underline
}
.footertxt A:visited
{
    COLOR: #ffcc00;
    TEXT-DECORATION: underline
}
.footertxt A:hover
{
    COLOR: #ffcc00;
    TEXT-DECORATION: underline
}
.tabtxtlight A:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.tabtxtnormal A:link
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.tabtxtnormal A:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.tabtxtnormal A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.tabtxtdark A:link
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.tabtxtdark A:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.tabtxtdark A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.tabtxtlight A:visited
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.tabtxtlight A:hover
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.submenutxt A:link
{
    COLOR: #ffcc00;
    TEXT-DECORATION: underline
}
.submenutxt A:visited
{
    COLOR: #ffcc00;
    TEXT-DECORATION: underline
}
.submenutxt A:hover
{
    COLOR: #000000;
    BACKGROUND-COLOR: #cccccc
}
.bluetxt A:link
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}
.bluetxt A:visited
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}
.bluetxt A:hover
{
    COLOR: #990000;
    TEXT-DECORATION: underline
}
.bluetxt2 A:link
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}
.bluetxt2 A:visited
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}
.bluetxt2 A:hover
{
    COLOR: #990000;
    TEXT-DECORATION: underline
}
.bodyboldsmtxt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodymdtxt
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodymdtxtcrm
{
    FONT-SIZE: 9pt;
    COLOR: #ceceb7;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodyboldmdtxt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodyboldmdtxtcrm
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodyboldmdtxtwht
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodyboldmdtxtylw
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #ffcc00;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodyboldxltxt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodyboldxltxtylw
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffcc00;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.mdbtnylw
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #f3e6ad
}
.bodymdtxtylw
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ffcc00;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodysmtxt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.pagingtxt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.bodyxstxt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
#testinvispix2Div
{
    LEFT: 225px;
    WIDTH: 555px;
    POSITION: absolute;
    TOP: 75px;
    HEIGHT: 45px
}
.List
{
    Z-INDEX: 1;
    LEFT: 252px;
    VISIBILITY: visible;
    WIDTH: 220px;
    POSITION: absolute;
    TOP: 185px;
    HEIGHT: 394px;
    BACKGROUND-COLOR: transparent
}
DIV#divMenuBar
{
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
TABLE#tblMenuBar TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 0px;
    CURSOR: default;
    COLOR: #ffcc00;
    BORDER-TOP-STYLE: none;
    PADDING-TOP: 0px;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
TABLE#tblMenuBar TD.clShowPermission
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    COLOR: white;
    BORDER-TOP-STYLE: none;
    PADDING-TOP: 0px;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
TABLE#tblMenuBar TD.clsMenuBarItem
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #ffcc00;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
TABLE#tblMenuBar TD.clsMenuBarItem A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
TABLE#tblMenuBar TD.clsMenuBarItem A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    TEXT-DECORATION: underline;
    BORDER-BOTTOM-STYLE: none
}
TABLE#tblMenuBar TD.clsMenuBarItem A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: purple;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
DIV.clsMenu
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    VISIBILITY: hidden;
    WIDTH: 185px;
    COLOR: black;
    POSITION: absolute;
    BACKGROUND-COLOR: #ffe88a;
    TEXT-DECORATION: underline
}
DIV.clsMenu A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffcc00;
    TEXT-DECORATION: underline
}
DIV.clsMenu A:hover
{
    COLOR: white;
    TEXT-DECORATION: underline
}
DIV.clsDisabled
{
    FONT-WEIGHT: bold;
    COLOR: gray;
    TEXT-DECORATION: none
}
DIV.clsSubMenu
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 4px;
    WIDTH: 150px;
    PADDING-TOP: 10px;
    FONT-FAMILY: arial;
    POSITION: absolute;
    BACKGROUND-COLOR: #990000
}
DIV.clsSubMenu A
{
    FONT-WEIGHT: bold;
    COLOR: #ffcc00;
    TEXT-DECORATION: none
}
DIV.clsSubMenu A:hover
{
    COLOR: white
}
DIV.clsSubMenu
{
    FONT-WEIGHT: bold;
    COLOR: gray;
    TEXT-DECORATION: none
}
DIV.clsMenuItem
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 1px;
    WIDTH: 135px;
    PADDING-TOP: 1px
}
DIV.clsMenuFunction
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 1px;
    WIDTH: 135px;
    PADDING-TOP: 1px
}
.Results
{
    WIDTH: 173px
}
.DetailsDiv
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    LEFT: 35px;
    VISIBILITY: visible;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 597px
}
.initialEditDiv
{
    FONT-SIZE: 7pt;
    LEFT: 228px;
    VISIBILITY: hidden;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 144px
}
.initialEditDivUser
{
    FONT-SIZE: 7pt;
    LEFT: 228px;
    VISIBILITY: hidden;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 124px
}
.initialDeleteDiv
{
    FONT-SIZE: 7pt;
    LEFT: 228px;
    VISIBILITY: hidden;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 144px
}
.ExistingEditDiv
{
    LEFT: 228px;
    VISIBILITY: hidden;
    WIDTH: 550px;
    POSITION: absolute;
    TOP: 144px
}
.ExistingEditDivUser
{
    LEFT: 228px;
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 124px
}
.ExistingDeleteDiv
{
    LEFT: 228px;
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 144px
}
.ExistingEditTable
{
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.txtbox228
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    WIDTH: 228px;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.txtbox148
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    WIDTH: 148px;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.ReceiverDetailsDiv
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    LEFT: 20px;
    VISIBILITY: visible;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 795px
}
.ReceiverDetailsDivCA
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    LEFT: 20px;
    VISIBILITY: visible;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 610px
}
.UserDetailsDivCA
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    LEFT: 32px;
    VISIBILITY: visible;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 680px
}
.ReceiverDetailsDivUser
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    LEFT: 20px;
    VISIBILITY: visible;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 796px
}
.UserEditReceiverButton
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    WIDTH: 85px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.UserShipToReceiverButton
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    WIDTH: 103px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.redboldtxt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #cc0000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
#helpTabDiv
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 410px
}
.bodysmtxtred
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #990000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, helvetica, sans-serif
}
.AddressBookMessage
{
    LEFT: 10px;
    BACKGROUND-IMAGE: none;
    VISIBILITY: hidden;
    WIDTH: 168px;
    COLOR: #000000;
    BACKGROUND-REPEAT: repeat;
    POSITION: absolute;
    TOP: 648px;
    HEIGHT: 15px;
    BACKGROUND-COLOR: transparent
}
.AddressBookMessageCA
{
    LEFT: 10px;
    BACKGROUND-IMAGE: none;
    VISIBILITY: hidden;
    WIDTH: 168px;
    COLOR: #000000;
    BACKGROUND-REPEAT: repeat;
    POSITION: absolute;
    TOP: 470px;
    HEIGHT: 15px;
    BACKGROUND-COLOR: transparent
}
 
.UserDetailsDiv
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    LEFT: 35px;
    VISIBILITY: visible;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,helvetica,sans-serif;
    POSITION: absolute;
    TOP: 590px
}
.txt
{
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
INPUT
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial, helvetica, sans-serif
}
P
{
    FONT-FAMILY: arial, helvetica, sans-serif
}
SELECT
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial, helvetica, sans-serif
}
STRONG
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial, helvetica, sans-serif
}
TEXTAREA
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial, helvetica, sans-serif
}
TH
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial, helvetica, sans-serif
}
.label
{
    PADDING-LEFT: 5px;
    WHITE-SPACE: nowrap
}
.labelReq
{
    FONT-WEIGHT: bold;
    WHITE-SPACE: nowrap
}
.groupTitle
{
    PADDING-LEFT: 1px;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.tableHeader
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    WHITE-SPACE: nowrap
}
.tableSmall
{
    FONT-SIZE: 7pt
}
.sectionTitle
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.nolink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #999999;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.personalAB
{
    COLOR: #cc0000
}
.corporateAB
{
    COLOR: #000000
}
.titleRedBG
{
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #cc0000
}
.titleWhiteBG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.trackRedBG
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cc0000
}
.formbkgd
{
    BACKGROUND-COLOR: #dddddd
}
.sectionbkgd
{
    BACKGROUND-COLOR: #cc0000
}
.error
{
    PADDING-RIGHT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: red
}
.yellowBgMdl
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    WIDTH: 116px;
    COLOR: #000000;
    HEIGHT: 27px;
    BACKGROUND-COLOR: #ffcc00
}
.ltYellowBgMdl
{
    VERTICAL-ALIGN: middle;
    WIDTH: 84px;
    COLOR: #000000;
    HEIGHT: 27px;
    BACKGROUND-COLOR: #ffe88a
}
.redBgMdl
{
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #cc0000
}
.linkBlack
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    WIDTH: 116px;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
    HEIGHT: 27px
}
.linkWhite
{
    DISPLAY: block;
    FONT-WEIGHT: 600;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.linkWhite
{
    VERTICAL-ALIGN: middle;
    WIDTH: 116px;
    HEIGHT: 27px;
    TEXT-ALIGN: center
}
.linkWhite:hover
{
    TEXT-DECORATION: none
}
.linkWhite:visited
{
    COLOR: #fff;
    TEXT-DECORATION: none
}
.navLink
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 11px;
    COLOR: #000000
}
.colhead
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cc0000
}
.tableHeaderLink
{
    FONT-WEIGHT: bold;
    COLOR: #000000
}
.redtxtmsg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #cc0000
}
.yellowtxtmsg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #996600;
    TEXT-DECORATION: none
}
A
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
BODY
{
    FONT-SIZE: 11px;
    COLOR: #000;
    FONT-FAMILY: Arial
}
TD
{
    FONT-SIZE: 11px;
    COLOR: #000;
    FONT-FAMILY: Arial
}
.bold
{
    FONT-WEIGHT: bold
}
.bodytext
{
    LINE-HEIGHT: 11px
}
A
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #cc0000;
    TEXT-DECORATION: underline
}
.bodytext
{
    FONT-SIZE: 11px
}
.bodytextBig
{
    FONT-SIZE: 16px
}
A.linkBold
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.linkBold:hover
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000;
    TEXT-DECORATION: underline
}
A.linkBoldGrey
{
    FONT-WEIGHT: bold;
    COLOR: #999999;
    TEXT-DECORATION: none
}
.linkBoldGrey
{
    FONT-WEIGHT: bold;
    COLOR: #999999
}
A.linkBoldGrey:hover
{
    FONT-WEIGHT: bold;
    COLOR: #999999;
    TEXT-DECORATION: underline
}
.headerRed
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000
}
.headerRedBig
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #cc0000
}
.tableHeader
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px
}
.tableHeaderSub
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px
}
.tableHeaderMid
{
    FONT-SIZE: 14px
}
.tableHeaderGrey
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #999999
}
A.tableHeaderGrey:hover
{
    COLOR: #999999
}
.legend
{
    FONT-SIZE: 11px;
    FONT-STYLE: italic
}
.greyText
{
    COLOR: #999999
}
.redText
{
    COLOR: #cc0000
}
A.redText
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.redText:link
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.redText:hover
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.redText:visited
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
.whiteText
{
    COLOR: #ffffff
}
A.whiteText
{
    COLOR: #ffffff
}
A.whiteText:hover
{
    COLOR: #ffffff
}
A.whiteText:visited
{
    COLOR: #ffffff
}
.blacktext
{
    COLOR: #000000
}
A.blacktext
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.blacktext:hover
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.blacktext:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.headerBlack
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000
}
.headerRegular
{
    FONT-SIZE: 12px
}
.headerArticle
{
    FONT-SIZE: 14px
}
.headerGrey
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #999999
}
.headerwhite
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff
}
.verticaltext
{
    PADDING-RIGHT: 5px;
  
    FILTER: flipv fliph;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    WRITING-MODE: tb-rl;
    BACKGROUND-COLOR: #ffe88a
}
UL
{
    MARGIN-TOP: 5px;
    MARGIN-BOTTOM: 5px
}
LI
{
    MARGIN-LEFT: -10px
}
.topnav
{
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 84px;
    COLOR: #000000;
    BORDER-BOTTOM: #ffffff 1px solid;
    HEIGHT: 22px
}
.topnavwebship
{
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 100px;
    COLOR: #000000;
    BORDER-BOTTOM: #ffffff 1px solid;
    HEIGHT: 22px
}
.topnavrt
{
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 1px;
    HEIGHT: 22px
}
.topnavon
{
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 84px;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #cc0000
}
.topnavonwebship
{
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 100px;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #cc0000
}
.pageheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #ffffff;
    TEXT-INDENT: 10px
}
.pageheaderBlack
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 24px;
    COLOR: #000000
}
.pageheaderPopup
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    TEXT-INDENT: 10px
}
.footer
{
    COLOR: #000000
}
.footer A
{
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
.footer A:hover
{
    COLOR: #cc0000;
    TEXT-DECORATION: underline
}
.label
{
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    COLOR: #000;
    FONT-FAMILY: Arial;
    HEIGHT: 22px
}
.inputxtrtiny
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    
    WIDTH: 25px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px
}
.inputxtrtinyerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
  
    
    WIDTH: 25px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc
}
.inputxtrtinydisable
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 25px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e4e4e4
}
.inputtiny
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    
    WIDTH: 50px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px
}
.inputtinyerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
    
    
    WIDTH: 50px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc
}
.inputtinydisable
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 50px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e4e4e4
}
.inputtinyerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 50px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffcc
}
.inputsmall
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 115px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px
}
.inputsmalldisable
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 115px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e4e4e4
}
.inputsmallerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    
    WIDTH: 115px;
    COLOR: #000;
   
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffcc
}
.inputmed
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
 
    WIDTH: 165px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px
}
.inputmeddisable
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 165px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e4e4e4
}
.inputmederror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 165px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffcc
}
.inputlarge
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 210px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px
}
.inputlargeerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 210px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffcc
}
.inputlargedisable
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 210px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e4e4e4
}
.inputlargeerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
 
    WIDTH: 210px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffcc
}
.inputlogin
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
   
    WIDTH: 90px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 18px
}

TEXTAREA
{
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
    PADDING-BOTTOM: 5px;
   
    
    COLOR: #000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial
}
.textareadisable
{
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
    PADDING-BOTTOM: 5px;
   
    
    COLOR: #000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e4e4e4
}
.whiteGrey
{
    BACKGROUND-COLOR: #ffffff
}
.lightGrey
{
    BACKGROUND-COLOR: #e4e4e4
}
.mediumGrey
{
    BACKGROUND-COLOR: #cccccc
}
.darkGrey
{
    BACKGROUND-COLOR: #999999
}
.postalYellow
{
    BACKGROUND-COLOR: #ffcc00
}
.lightYellow
{
    BACKGROUND-COLOR: #ffe88a
}
.postalRed
{
    BACKGROUND-COLOR: #cc0000
}
.white
{
    BACKGROUND-COLOR: #ffffff
}
.pT5
{
    PADDING-TOP: 5px
}
.pT10
{
    PADDING-TOP: 10px
}
.pT15
{
    PADDING-TOP: 15px
}
.pT20
{
    PADDING-TOP: 20px
}
.pT30
{
    PADDING-TOP: 30px
}
.pR5
{
    PADDING-RIGHT: 5px
}
.pR10
{
    PADDING-RIGHT: 10px
}
.pR15
{
    PADDING-RIGHT: 15px
}
.pR20
{
    PADDING-RIGHT: 20px
}
.pB5
{
    PADDING-BOTTOM: 5px
}
.pB10
{
    PADDING-BOTTOM: 10px
}
.pB15
{
    PADDING-BOTTOM: 15px
}
.pB20
{
    PADDING-BOTTOM: 20px
}
.pL5
{
    PADDING-LEFT: 5px
}
.pL7
{
    PADDING-LEFT: 7px
}
.pL10
{
    PADDING-LEFT: 10px
}
.pL15
{
    PADDING-LEFT: 15px
}
.pL20
{
    PADDING-LEFT: 20px
}
.p5
{
    PADDING-RIGHT: 5px;
    
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}
.p10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px
}
.p15
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 15px;
    PADDING-TOP: 15px
}
.p20
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px
}
.pLR5
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px
}
.actionindicator
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
.eVert
{
    FONT-SIZE: 1px;
    LINE-HEIGHT: 0px;
    FONT-FAMILY: arial,helvetica,sans-serif
}
.eWidth
{
    WIDTH: 1px
}
.thingsToKnowHeader
{
    FONT-SIZE: 14px;
    COLOR: #000000
}
.thingsToKnowText
{
    FONT-SIZE: 11px;
    COLOR: #666666;
    LINE-HEIGHT: 12px
}
.tabDown
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #cc0000
}
.tabDownSmall
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #cc0000
}
.errorText
{
    FONT-WEIGHT: bold;
    COLOR: #000000
}
.errorBox
{
    BORDER-RIGHT: #cc0000 1px solid;
    BORDER-TOP: #cc0000 1px solid;
    MARGIN-TOP: 15px;
    BORDER-LEFT: #cc0000 1px solid;
    WIDTH: 550px;
    BORDER-BOTTOM: #cc0000 1px solid
}
.errorBoxNew
{
    BORDER-RIGHT: #cc0000 1px solid;
    BORDER-TOP: #cc0000 1px solid;
    MARGIN-TOP: 15px;
    BORDER-LEFT: #cc0000 1px solid;
    WIDTH: 425px;
    BORDER-BOTTOM: #cc0000 1px solid
}
.errorlabel
{
    
    FONT-WEIGHT: bold
}
.style1
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff
}
.style2
{
    COLOR: #ff0000
}
.tbHeaderL
{
    BORDER-TOP: #999999 1px solid;
    BORDER-LEFT: #cccccc 1px solid
}
.tbHeaderM
{
    BORDER-TOP: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid
}
.tbHeaderR
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid
}
.tbCell
{
    BORDER-LEFT: #cccccc 1px solid
}
.tbCellR
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid
}
.tbBottom
{
    
    BORDER-BOTTOM: #cccccc 1px solid
}
.tbBottomR
{
    BORDER-RIGHT: #cccccc 1px solid;
    
    BORDER-BOTTOM: #cccccc 1px solid
}
SELECT
{
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    COLOR: #000;
    FONT-FAMILY: Arial; 
}
.selectmedium
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 165px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial; 
}
.selectmediumerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 165px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc
}
.selectsmall
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 115px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial; 
}
.selectsmallerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 115px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc
}
.selectsmalldisable
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 115px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial; 
    BACKGROUND-COLOR: #e4e4e4
}
.selectdisable
{
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    COLOR: #000;
    FONT-FAMILY: Arial; 
    BACKGROUND-COLOR: #e4e4e4
}
.selectenable
{
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    COLOR: #000;
    FONT-FAMILY: Arial; 
    BACKGROUND-COLOR: #ffffff
}
.selectsmallenable
{
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 115px;
    COLOR: #000;
    FONT-FAMILY: Arial; 
    BACKGROUND-COLOR: #ffffff
}
.selecterror
{
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    COLOR: #000;
    FONT-FAMILY: Arial; 
    BACKGROUND-COLOR: #ffffcc
}
.selectmultiple
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial; 
}
.selectlarge
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 225px;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial; 
}
.selectlargeerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px; 
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px; 
    WIDTH: 225px;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc
}
.tabUp
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.tabUp
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.tabUp:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.tabUp:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.inputfile
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
   
    
    COLOR: #000000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial
}
.inputtextarea
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
   
    
    WIDTH: 210px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    WRAP:SOFT;
    HEIGHT: 36px
}
.inputtextareaerror
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 2px;
    
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 2px;
   
 
    WIDTH: 210px;
    COLOR: #000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 36px;
    BACKGROUND-COLOR: #ffffcc
}


.buttonStyle { 
			cursor: hand;
			background-color:#ffcc00; 
			font-weight: bold;
			font-size: 11px; 
			text-align: left; 
			width: 155px; 
			height: 21px; 
			padding: 2px 2px 6px 6px; 
			border: 0px solid; 
			border-color: white white white white;
			}
			
.inputRed {
 BORDER-BOTTOM:#FF0000 1px solid;
 BORDER-LEFT:#FF0000 1px solid;
 BORDER-RIGHT:#FF0000 1px solid;
 BORDER-TOP:#FF0000 1px solid;"
}

.inputGris {
 BORDER-BOTTOM:#CCCCCC 1px solid;
 BORDER-LEFT:#CCCCCC 1px solid;
 BORDER-RIGHT:#CCCCCC 1px solid;
 BORDER-TOP:#CCCCCC 1px solid;"
}
.tdRed{
	background-color:#FF0000
}
.tdWhite{
	background-color:#FFFFFF
}
.selectTextRed{
	 COLOR: #FF0000;
}
.selectTextBlack{
	 COLOR: #000000;
}